* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #000;
  overflow-x: hidden;
  padding-right: 0;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 80px;
}

.scroll-up-btn {
  position: fixed;
  height: 50px;
  width: 50px;
  background: crimson;
  right: 40px;
  bottom: 0px;
  text-align: center;
  line-height: 52px;
  color: #ffffff;
  z-index: 10;
  font-size: 40px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 40px;
  opacity: 1;
  pointer-events: auto;
}

section {
  margin: 0;
  margin-right: 0;
}

.line {
  position: fixed;
  left: 0;
  top: 0;
  width: 0%;
  height: 10px;
  background-color: crimson;
  z-index: 1000;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  font-family: 'Poppins', sans-serif;
  padding: 50px 0 0 0;
}

.navbar__list {
  padding: 30px 0;
}

.navbar__list a {
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  margin-left: 30px;
  position: relative;
  letter-spacing: 3px;
}

.navbar__list a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 0%;
  height: 4px;
  background: #63e0da;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navbar__list a:hover {
  color: #63e0da;
}

.navbar__list a:hover::after {
  width: 100%;
}

.navbar__list a:last-child {
  padding: 10px 15px;
  color: red;
  border: 2px solid red;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navbar__list a:last-child:hover {
  -webkit-animation: rezk 0.22s infinite ease;
          animation: rezk 0.22s infinite ease;
}

.navbar__list a:last-child:hover::after {
  display: none;
}

.navbar__logo {
  margin: auto 0;
  font-size: 50px;
  font-family: 'Fredoka One', cursive;
  color: #fff;
  letter-spacing: 6px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.navbar__logo span {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  color: #c52656;
}

.navbar__logo:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.navbar__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 1;
}

.navbar__inner.fixed {
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.menu-btn {
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

@-webkit-keyframes rezk {
  0% {
    color: #ffffff;
    border: 2px solid #fff;
    background-color: red;
  }
  100% {
    color: red;
    border: 2px solid red;
    background-color: #fff;
  }
}

@keyframes rezk {
  0% {
    color: #ffffff;
    border: 2px solid #fff;
    background-color: red;
  }
  100% {
    color: red;
    border: 2px solid red;
    background-color: #fff;
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: 100%;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 350px;
  text-transform: uppercase;
}

.home__inner .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 630px;
  background: linear-gradient(45deg, rgba(193, 60, 60, 0.7), rgba(223, 145, 57, 0.7), rgba(232, 216, 130, 0.7));
  border-radius: 0px 200px 0px 0;
  color: #fafafa;
}

.home__inner .left .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50px;
  line-height: 1.8;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 4px;
  font-weight: 700;
}

.home__inner .right img {
  width: 350px;
  height: 350px;
  z-index: 10;
  border-radius: 40px;
  z-index: 10;
}

.home__suptitle {
  font-size: 30px;
}

.home__title {
  font-size: 60px;
  text-transform: none;
}

.home__subtitle {
  font-size: 40px;
  text-transform: uppercase;
}

.home__subtitle span {
  font-size: 40px;
  margin-left: 10px;
  letter-spacing: 4px;
  color: #ffffff;
  text-transform: uppercase;
}

.background {
  position: fixed;
  width: 100vw;
  width: 100%;
  height: 100vh;
  height: 100%;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -999;
  background-image: url("https://te1m0z.github.io/Te1m0z-site/img/bg.png");
  -webkit-animation: backgrnd 3s ease;
          animation: backgrnd 3s ease;
}

@-webkit-keyframes backgrnd {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes backgrnd {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  height: 100%;
  height: 700px;
  background: linear-gradient(45deg, rgba(207, 154, 187, 0.7) 17%, rgba(42, 192, 197, 0.7));
  padding: 80px 0;
  font-size: 30px;
}

.about__inner {
  height: 100%;
}

.about__title {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
}

.about__bottom {
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.about .container {
  height: 100%;
}

.bottom__right {
  width: 60%;
  margin: auto 0;
}

.bottom__right .text {
  font-size: 25px;
  height: 100%;
  max-height: 700px;
}

.bottom__right .text__sub {
  letter-spacing: 3px;
  font-size: 33px;
  color: #ec093a;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
}

.bottom__right .text__sub span {
  color: #4327e0;
}

.bottom__right .text .sub {
  margin-top: 40px;
  text-align: center;
}

.bottom__left {
  width: 50%;
  position: relative;
}

.bottom__left img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.skills {
  height: 100%;
  height: 700px;
  background: linear-gradient(315deg, rgba(123, 199, 132, 0.7), rgba(199, 123, 187, 0.7), rgba(123, 196, 199, 0.7));
  margin-top: 350px;
  padding: 80px 0;
}

.skills__title {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.wrap {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap__left {
  font-family: 'Rubik', sans-serif;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #380177;
  padding: 30px 0;
}

.wrap__left .bars .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap__left .bars .info span {
  font-size: 26px;
}

.wrap__left .line {
  height: 5px;
  width: 100%;
  background: #ccc;
  position: relative;
  margin-top: 10px;
}

.wrap__left .line::before {
  content: '';
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #992476;
}

.wrap__left .html::before {
  width: 80%;
}

.wrap__left .css::before {
  width: 70%;
}

.wrap__left .js::before {
  width: 30%;
}

.wrap__right {
  width: 50%;
  background-image: url("https://te1m0z.github.io/Te1m0z-site/img/inosku.webp");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.contact {
  height: 100%;
  min-height: 700px;
  margin-top: 350px;
  background: linear-gradient(rgba(216, 180, 122, 0.5), rgba(135, 60, 255, 0.5) 80%), linear-gradient(-45deg, rgba(120, 155, 255, 0.5) 25%, rgba(247, 158, 70, 0.507) 75%);
  padding: 80px 0;
}

.contact__title {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.contact__content {
  height: 100%;
  margin-top: 40px;
}

.contact__content .top {
  padding: 0 60px;
}

.contact__content .top .title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #53d1e7;
  font-size: 30px;
  margin-bottom: 40px;
}

.contact__content .top form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact__content .top form .field {
  font-family: 'Poppins', sans-serif;
  height: 45px;
  width: 100%;
  margin: auto 40px auto 0;
}

.contact__content .top form .field input {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
}

.contact__content .top form .button {
  margin: auto 0;
}

.contact__content .top form .button a {
  height: 50px;
  width: 120px;
  padding: 10px 30px;
  border: 3px solid crimson;
  background: crimson;
  color: #ffffff;
  font-size: 20px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: 'Rubik', sans-serif;
}

.contact__content .top form .button a:hover {
  color: crimson;
  background: #fff;
}

.contact__content .top form .textarea {
  height: 100px;
}

.contact__content .top form .textarea textarea {
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 15px 15px;
  font-size: 17px;
  resize: none;
}

.contact__content .bottom {
  height: 100%;
  width: 100%;
}

.contact__content .bottom .title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #53d1e7;
  font-size: 30px;
  margin-top: 40px;
}

.contact__content .bottom__inner {
  background: linear-gradient(66deg, #5d0c35, #0a1752);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  border-radius: 20px;
  margin: 0 230px;
  margin-top: 40px;
}

.contact__content .bottom__inner .icons {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
  cursor: pointer;
}

.contact__content .bottom__inner .icons .social__item {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contact__content .bottom__inner .icons .social__item a {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 40px;
  color: #fff;
}

.contact__content .bottom__inner .icons .vk:hover {
  border-color: #5298e7;
  -webkit-box-shadow: 0 0 20px #5298e7;
          box-shadow: 0 0 20px #5298e7;
}

.contact__content .bottom__inner .icons .vk:hover a {
  color: #5298e7;
}

.contact__content .bottom__inner .icons .git:hover {
  border-color: #000;
  -webkit-box-shadow: 0 0 20px #000000;
          box-shadow: 0 0 20px #000000;
}

.contact__content .bottom__inner .icons .git:hover a {
  color: #000000;
}

.contact__content .bottom__inner .icons .inst:hover {
  border-color: #db4189;
  -webkit-box-shadow: 0 0 20px #db4189;
          box-shadow: 0 0 20px #db4189;
}

.contact__content .bottom__inner .icons .inst:hover a {
  color: #db4189;
}

.contact__content .bottom__inner .icons .steam:hover {
  border-color: #5a6981;
  -webkit-box-shadow: 0 0 20px #5a6981;
          box-shadow: 0 0 20px #5a6981;
}

.contact__content .bottom__inner .icons .steam:hover a {
  color: #5a6981;
}

.footer {
  height: 100%;
  max-height: 300px;
  margin-top: 350px;
  padding: 50px 0;
  background: linear-gradient(21deg, #dd03e4, #5611ec);
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__inner span {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.footer__inner span a {
  color: #2edeee;
}

@media screen and (max-width: 1355px) {
  section {
    width: 100%;
    min-width: 100vw;
    overflow-x: hidden;
  }
  .about .bottom__right {
    width: 50%;
  }
  .about .bottom__left {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  .navbar__menu a {
    display: block;
  }
  .home .right {
    display: none;
  }
  .home .left {
    margin: 0 auto;
  }
  .background {
    background-position: 80% 50%;
  }
}

@media screen and (max-width: 1130px) {
  .navbar.container {
    min-height: 90px;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10;
  }
  .navbar {
    height: 100vh;
  }
  .navbar__list {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100%;
    width: 100%;
    left: -200%;
    top: 0;
    background: #111;
    text-align: center;
    padding: 80px 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    max-height: 50vh;
  }
  .navbar__list .dev-zone {
    display: none;
  }
  .navbar__list.active {
    position: fixed;
    left: 0;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
  .navbar__list a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .navbar__inner {
    min-height: 90px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar__inner.active {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    overflow-y: hidden;
  }
  .mobile-menu.active {
    max-height: 100vh;
    overflow: hidden;
  }
}

@media screen and (max-width: 1100px) {
  .about .bottom__right .text {
    font-size: 20px;
  }
  .about .bottom__right .text__sub {
    font-size: 25px;
  }
}

@media screen and (max-width: 850px) {
  .home__suptitle {
    font-size: 20px;
  }
  .home__title {
    font-size: 50px;
    text-transform: none;
  }
  .home__subtitle {
    font-size: 30px;
  }
  .about__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 725px) {
  .about .container {
    padding: 0 30px;
  }
  .home__inner .left {
    border-radius: 0;
  }
  .home__inner .left .text {
    margin: 0 auto;
  }
  .home__subtitle {
    display: none;
  }
  .navbar__inner {
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 650px) {
  .about .bottom__right .text {
    font-size: 16px;
  }
  .about .bottom__right .text__sub {
    font-size: 20px;
  }
}

@media screen and (max-width: 490px) {
  .home__title {
    font-size: 30px;
  }
  .home__inner .text {
    padding-right: 30px;
    padding-left: 30px;
  }
  .menu-btn {
    margin-left: 20px;
  }
  .navbar {
    padding-top: 10px;
  }
  .navbar .container {
    padding: 0 30px;
  }
  .about .bottom__left {
    display: none;
  }
  .about .bottom__right {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .navbar__logo {
    font-size: 40px;
  }
  .home__inner {
    height: 200px;
  }
}

@media screen and (max-width: 342px) {
  .home__suptitle {
    font-size: 20px;
  }
  .home__title {
    font-size: 20px;
  }
  .home__subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 356px) {
  .navbar__logo {
    font-size: 35px;
  }
}

@media screen and (max-width: 309px) {
  .background {
    background-position: 85.5% 50%;
  }
}
/*# sourceMappingURL=index.css.map */