@mixin bold{
    font-family: 'Poppins', sans-serif;
}
@mixin h1 {
    font-family: 'Fredoka One', cursive;
}
@mixin rubik {
    font-family: 'Rubik', sans-serif;
}
@mixin russo {
    font-family: 'Russo One', sans-serif;
}
@mixin ubuntu {
    font-family: 'Ubuntu', sans-serif;
}
@mixin tris {
    font-family: 'Trispace', sans-serif;
}
@mixin raleway {
    font-family: 'Raleway', sans-serif;
}